<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit autem quis id accusantium rerum sunt et odit possimus repudiandae quidem ducimus, doloribus ab, dolorum cumque aliquid, deserunt impedit tenetur magnam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit autem quis id accusantium rerum sunt et odit possimus repudiandae quidem ducimus, doloribus ab, dolorum cumque aliquid, deserunt impedit tenetur magnam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit autem quis id accusantium rerum sunt et odit possimus repudiandae quidem ducimus, doloribus ab, dolorum cumque aliquid, deserunt impedit tenetur magnam.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>